worker_processes 1;
error_log stderr notice;
daemon off;
events { }

http {
    server {
        listen 8080;
        # serve tiles if not in the cache
        location @image_server {
          content_by_lua_file "/Users/tim/work/chickpea/serve_image.lua";
        }

        # capture tile request e.g. /tile/l8/091080/rgb/20160924/10/938/597.jpg
        # regex named capture groups for each param
        location ~ ^/tile/(?<layer>[^/]+)/(?<pathrow>[^/]+)/(?<type>[^/]+)/(?<date>[^/]+)/(?<z>[^/]+)/(?<x>[^/]+)/(?<y>[^.]+) {
          set $cacheroot "/Users/tim/work/chickpea/cache/"; # note trailing slash
          root $cacheroot;
          set $cachepath "$layer/$pathrow/$type/$date/$z/$x/$y.jpg";
          try_files $cachepath @image_server;
        }

        # root page
        location / {
            default_type text/plain;
            echo "Chickpea bellows hello";
        }
    }
}
