worker_processes 1;
error_log stderr notice;
daemon off;
events { }

http {

    lua_package_path "/path/to/chickpea/lib/?.lua;;";

    server {
        listen 8080;

        set $cacheroot "/path/to/chickpea/cache/"; # note trailing slash
        root $cacheroot;

        # serve tiles if not in the cache
        location @tileserver {

          set $mapnik_datasource "/usr/local/lib/mapnik/input";
          content_by_lua_file "/path/to/chickpea/serve_image.lua";
        }

        # capture tile request e.g. /tile/l8/091080/rgb/20160924/10/938/597.jpg
        # regex named capture groups for each param
        # multiple locations can be defined 
        location ~ ^/tile/(?<layer>[^/]+)/(?<pathrow>[^/]+)/(?<type>[^/]+)/(?<date>[^/]+)/(?<z>[^/]+)/(?<x>[^/]+)/(?<y>[^.]+) {

          set $xmlroot "/path/to/chickpea/sample/";
          set $xmlpath "${layer}_${type}_$pathrow$date.xml";
          set $cachepath "$layer/$pathrow/$type/$date/$z/$x/$y.jpg";
          try_files $cachepath @tileserver;
        }

        # root page
        location / {
            default_type text/plain;
            echo "Chickpea bellows hello";
        }
    }
}
